body,
button,
input,
textarea {
    color: black;
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    line-height: 1.8;
}

body {
    background-color: #EDEDED;
    margin: 0;
    font-family: 'Asap', sans-serif;
}

img {
    display: block;
    width: 100%;
    height:auto;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    padding: 1.5em 2em;
}

header {
    background-color: black;
}

h1 {
    color: red;
    margin: 0;
}

p {
    margin: 0;

}

.sidebar-right {
    background-color: #EDEDED;
    color: white;
}

@media screen and (min-width: 1200px) {
    .content-area {
        display: flex;
    }
    
    .sidebar-right {
        flex: 0 0 320px;
    }

}

/* header style stats here */
.site-header {
    height: 70vh;
    display: flex;
    flex-flow: column;
}

.site-info {
    flex-grow: 1;
    background-color: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.site-tittle {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: white;


}

.site-description {
    color: #f6d200;
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
    margin: -.8;
}

.main-menu {
    background-color: yellow;
    color: black;
}
@media screen and ( min-width: 1024px) {
    .site-tittle {
        font-size: 4em;
    }
}

/* header styles ends here */

/* post styles start here */
.main-content-area {
    padding: 30px;
}

.post {
    background-color: white;
    margin-bottom: 1em;
}

.post-content {
    padding: 0 20px 40px;
}

.post a {
    text-decoration: none;
    color: black;
}

.post h2 {
    background-color: #f6d200;
    padding: 20px;
    text-align: center;
    margin: 0 -20px 30px;
}

@media screen and (min-width: 810px) {
    .posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .post {
        flex-basis: 49%;
    }

}
@media screen and (min-width: 1112px) {
    .posts {
        display: flex;
        flex-wrap: wrap;
    }
    .post-one-third {
        flex-basis: 32%;
    }
    .post-half {
        flex-basis: 49%;
    }
    .post-full {
        flex-basis: 100%;
    }
}

/* post style ends here */

/*--------------------------------------- watch style section starts here -------------------------------*/

.section-tittle {
    font-size: 3em;
    color: black;
    text-align: center;
    text-transform: capitalize;
}

.watch-card {
    margin-bottom: 1em;
}

.watch-content {
    background-color: black;
    color:white;
    padding: 3em;
}

.watch-content h2 {
    font-size: 2em;
    font-weight: 300;
    margin: 0;
    text-transform: capitalize;
}

.watch-info {
    font-weight: bold;
}

.watch-info span {
    margin-right: 2em;
}

.movie-story {
    margin: 1em 0;
}

.watch-info a {
    font-weight: bold;
    color: white;
}

@media screen and (min-width:810px) {
    .watch-card {
        display: flex;
    }

    .watch-content {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .img-right {
        order: 2;
    }
}

/*-------------------------------------- watch style section ends here -----------------------------*/

/*----------------------------------------- download style section starts here ----------------------------- */

.section-header {
    font-size: 2em;
    text-transform: capitalize;
    text-align: center;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.download-card {
    margin-bottom: 1em;
}

.download-content{
    background-color: white;
    display: flex;
    flex-flow: column;
}

.download-content a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    text-transform: capitalize;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.download-content a i {
    font-size: 2em;
}

.download-info {
    padding: 1em 2em;
}

.download-info h4 {
    margin: 0;
}

.download-info p {
    margin: 0;
    font-size: .9em;
}

.download-cast img {
    height: 60px;
    width: 60px;
    border-radius: 50%;

}

.download-rating {
    background-color: #f6d200;
    padding: 1em 2em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.download-rating .rate {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: -.25em;
}

.download-genre , .download-cast {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.download-info h4 {
    flex-basis: 30%;
}

.download-genre {
    margin-bottom: 1em;
}

@media screen and (min-width:810px) {
    .download-content {
        display: flex;
        flex-flow: row;
    }

    .download-content a , .download-rating {
        flex-grow: 1;
    }

    .download-info {
        flex-grow: 2;
    }
}

/* -----------------------------------------------
             download styles section ends 
--------------------------------------------------*/

/*-------------------------------------------------
              Gallery style section starts here
---------------------------------------------------*/
.gallery-imgs {
    display: flex;
    flex-wrap: wrap;
}

.gallery-img {
    height: 250px;
    flex-grow: 1;
    
}

.gallery-img img {
    height: 100%;
    object-fit: cover;
}

.gallery-img:nth-child(4n+1) {
    flex-basis: 250px;
}

.gallery-img:nth-child(4n+2) {
    flex-basis: 325px;
}

.gallery-img:nth-child(4n+3) {
    flex-basis: 180px;
}

.gallery-img:nth-child(4n+4) {
    flex-basis: 380px;
}

@media screen and (max-width: 810px) {
    .gallery-img {
        margin-bottom: .5em;
    }
}

/*-----------------------------------------------------
       gallery styles section end
----------------------------------------------------------*/

/*--------------------------------------------------------------
       sidebar styling starts here 
----------------------------------------------------------------*/

.sidebar-right {
    padding: 2em;
    color: black;
}

.widget {
    background-color: white;
    margin-bottom: 2em;
}

.widget-content {
    padding: .5em 2em;
}

.sidebar-right ul {
    list-style-type: none;
    display: block;
    padding-left: 1em;
}

.sidebar-right ul a {
    text-decoration: none;
    color: black;
    padding-bottom: .4em;
    font-weight: bold;

}

.sidebar-right ol {
    display: block;
    padding-left: 2em;
}

.sidebar-right ol a {
    text-decoration: none;
    color: black;
    padding-bottom: .4em;
    font-weight: bold;
}

@media screen and (min-width: 810px) and (max-width: 1199px) {
    .sidebar-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .widget {
        flex-basis: 48.8%;
    }
}


/*-----------------------------------------------------------
   sidebar styling ends here
--------------------------------------------------------------*/

/*-----------------------------------------------------------
   menu styling starts here
--------------------------------------------------------------*/

.main-menu ul {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
}

.main-menu ul a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    padding: .6em 1em;
    transition: all 0.5s ease;
}

.main-menu ul a:hover {
    background-color: black;
    color: #f6d200;
}

@media screen and (min-width: 810px) {
    .main-menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-menu ul li {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        text-align: center;
    }
}


/*-----------------------------------------------------------
   menu styling starts here
--------------------------------------------------------------*/


